{% extends master.master %}
{% block content %}
{% if data.Local.ShowCheckInMembers and data.Local.CheckedIn == false  %}
<style>
  .checkedin img { border-color: green !important; }
</style>
{% endif %}

<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T People at {0} || data.Business.Name %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">
      <!-- CONTENT -->
      <section id="content" class="span12">
        <!-- FILTER -->
        <div class="filter text-center">
          <form class="form-search" method="GET" action="{% Url Directory, Search %}">
            {% if data.Local.Query.size > 0 or data.Local.Tag.size > 0 %}
            <a class="btn btn-link btn-small" href="{% Url Directory, Index %}">{% T Show all %}</a>
            {% endif %}
            <div class="input-append">
              <input id="coworkers-search" value="{{ data.Local.Query }}{{ data.Local.Tag }}" type="text" name="query" class="input-large search-query" autocomplete="off" placeholder="{% T Search... %}">
              <button type="submit" class="btn">
                <i class="icon-search"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- END FILTER -->
        {% if data.Local.Coworkers.size == 0 and data.Local.Teams.size == 0 %}
        <div class="well well-large text-center">
          <h2>{% T No one has published a profile yet... :( %}</h2>
          <div class="media comment comment-form">
            <a class="btn btn-orange btn-large" href="{% Url Profile, Index %}">{% T Publish your profile %}</a>
          </div>
        </div>
        {% endif %}
        <div>
          {% if data.Local.Tag == null %}
          {% DivRow team in data.Local.Teams cols:4 %}
          <div class="team_block member_block span3 text-center">
            <a href="{% Url Directory, Team, Id: team.Id, name: team.Name | Clean %}" class="user_avatar">
              <img class="img-circle" style="height: 140px; width: 140px;" height="140" width="140" src="{% Url Team, GetAvatar, id: team.Id, h:140, w:140, mode: 'Pad' %}" alt="{{ team.Name | Capitalize }}" >          
            </a>
            <h4 class="subheader">{{ team.Name | Capitalize }}</h4>
            
            {% if team.ProfileWebsite.size > 0 %}
            <a target="_blank" href="{{ team.ProfileWebsite }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% else %}
            <a href="{% Url Directory, Team, Id: team.Id, name: team.Name | Clean %}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% endif %}
            {% if team.Twitter.size > 0 %}
            <a target="_blank" href="http://twitter.com/{{ team.Twitter }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-twitter"></span></a>
            {% endif %}
            {% if team.Linkedin.size > 0 %}
            <a target="_blank" href="{{ team.Linkedin }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-linkedin"></span></a>
            {% endif %}
            {% if team.Facebook.size > 0 %}
            <a target="_blank" href="{{ team.Facebook }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-facebook"></span></a>
            {% endif %}
            {% if team.Skype.size > 0 %}
            <a href="callto://{{ team.Skype }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-skype"></span></a>
            {% endif %}
            
          </div>
          {% endDivRow %}
          {% endif %}
          
          {% DivRow member in data.Local.Coworkers cols:4 %}
          <!-- member -->
          <div class="member_block span3 text-center {% if member.CheckedIn %}checkedin{% endif %}">
            <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="user_avatar">
              <img class="img-circle" style="height: 140px; width: 140px;" height="140" width="140" src="{% Url Coworker, GetAvatar, id: member.Id, h:140, w:140 %}" alt="{{ member.FullName | Capitalize }}" >          
            </a>
            {% if member.CheckedIn %}
            <br/>
            <span class="label label-success">{% T checked in %}</span>
            {% endif %}
            <h4 class="subheader">{{ member.FullName | Capitalize }}</h4>
            {% if member.CompanyName != null %}
            <p>
              <a title="{{ member.CompanyName }}" href="/en/directory/search?company={{ member.CompanyName }}">{{ member.CompanyName | TruncateWords: 3 }}</a>
              &nbsp;
            </p>
            {% endif %}
            {% if member.ProfileWebsite.size > 0 %}
            <a target="_blank" href="{{ member.ProfileWebsite }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% else %}
            <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% endif %}
            {% if member.Twitter.size > 0 %}
            <a target="_blank" href="http://twitter.com/{{ member.Twitter }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-twitter"></span></a>
            {% endif %}
            {% if member.Linkedin.size > 0 %}
            <a target="_blank" href="{{ member.Linkedin }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-linkedin"></span></a>
            {% endif %}
            {% if member.Facebook.size > 0 %}
            <a target="_blank" href="{{ member.Facebook }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-facebook"></span></a>
            {% endif %}
            {% if member.Skype.size > 0 %}
            <a href="callto://{{ member.Skype }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-skype"></span></a>
            {% endif %}
          </div>
          <!-- END member -->
          {% endDivRow %}
        </div>
        
      </section>
      <!-- END CONTENT -->
      
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script>
    $(function(){
        var data = [
          {% for tag in data.Local.AllTags %}
          '#{{ tag | Replace: "'","\'" }}',
          {% endfor %}
          {% for coworker in data.Local.Coworkers %}
          '{{ coworker.FullName | Replace: "'","\'" }}',
          {% endfor %}
          ''
          ];
        $("#coworkers-search").typeahead({
            source: data,
            limit: 15
        });
    });
</script>
{% endblock %}